#Front_Wall{ /*class 에는 . ID 에는 # */
    width: 100%;
    visibility: visible; /*visible 활성화 hidden 숨김*/
    display: flex;
}

#Front_Wall_IMG{ /* 이미지 전체화면 */
    width: 100%;
    max-height: 100%;
    margin: auto;
    overflow: auto;
    position: fixed;
    left: 0;    /*왼쪽벽에 딱 붙임*/
    right: 0;
    top: 0;
    bottom: 0;
}

#Face_modal{
    position: absolute;
    display: none;
    left: 570px;
    top: 80px;
    width: 300px;
    height: 400px;
}

#View_Lock_1{
    position: absolute;
    left: 41%;
    bottom: 45%;
    width: 50px;
    height: 50px;
    opacity: 0;
}

#Front_Wall .View_Left{ /*Front_Wall class 안에 있는 View_Left 만 설정*/
    position: absolute;
    left: 0;
    bottom: 5%;
    width: 200px;
    height: 700px;
    opacity: 0;
}

#Front_Wall .View_Right{
    position: absolute;
    right: 0;
    bottom: 5%;
    width: 200px;
    height: 700px;
    opacity: 0;
}

#face{
    position: absolute;
    left: 45%;
    top: 13%;
    width: 150px;
    height: 130px;
    opacity: 0;
}

#Escape{
    position: absolute;
    left: 40%;
    top: 33%;
    width: 300px;
    height: 300px;
    opacity: 0;
    visibility: hidden;
}

#Left_Wall{
    width: 100%;
    visibility: hidden;
}

#Left_Wall_IMG{ /* 이미지 전체화면 */
    width: 100%;
    max-height: 100%;
    margin: auto;
    overflow: auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#Post_modal{
    position: absolute;
    display: none;
    left: 570px;
    top: 80px;
    width: 300px;
    height: 400px;
    z-index: 10;
}

#Left_Wall .View_Front{
    position: fixed;
    right: 0;
    bottom: 5%;
    width: 200px;
    height: 700px;
    opacity: 0;
}

#Left_Wall .View_Back{
    position: fixed;
    left: 0;
    bottom: 5%;
    width: 200px;
    height: 700px;
    opacity: 0;
}

#Left_Wall #View_Post{
    position: absolute;
    left: 46%;
    bottom: 33%;
    width: 75px;
    height: 50px;
    opacity: 0;
}

#Left_Wall #View_Lock_2{
    position: absolute;
    left: 47%;
    bottom: 27%;
    width: 45px;
    height: 40px;
    opacity: 0;
}

#Right_Wall{
    visibility: hidden;
}

#Right_Wall_IMG{ /* 이미지 전체화면 */
    width: 100%;
    max-height: 100%;
    margin: auto;
    overflow: auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#Right_Wall .View_Front{
    position: fixed;
    left: 0;
    bottom: 5%;
    width: 200px;
    height: 700px;
    opacity: 0;
}

#Right_Wall .View_Back{
    position: fixed;
    right: 0;
    bottom: 5%;
    width: 200px;
    height: 700px;
    opacity: 0;
}

#Back_Wall{
    visibility: hidden;
}

#Back_Wall_IMG{ /* 이미지 전체화면 */
    width: 100%;
    max-height: 100%;
    margin: auto;
    overflow: auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#destroy_modal{
    position: absolute;
    display: none;
    left: 450px;
    top: 80px;
    width: 580px;
    height: 400px;
}

#Back_Wall .View_Right{
    position: fixed;
    left: 0;
    bottom: 5%;
    width: 200px;
    height: 700px;
    opacity: 0;
}

#Back_Wall .View_Left{
    position: fixed;
    right: 0;
    bottom: 5%;
    width: 200px;
    height: 700px;
    opacity: 0;
}

#Back_Wall #Destroy{
    position: fixed;
    left: 31%;
    bottom: 50%;
    width: 620px;
    height: 250px;
    opacity: 0;
}

#DoorLock{ /* 이미지 전체화면 */
    width: 100%;
    max-height: 100%;
    margin: auto;
    overflow: auto;
    position: fixed;
    left: 0;    /*왼쪽벽에 딱 붙임*/
    right: 0;
    top: 0;
    bottom: 0;
}

#n1{
    position: absolute;
    left: 18%;
    width: 48px;
    height: 48px;
    top: 45%;
    opacity: 0;
}

#n2{
    position: absolute;
    left: 41.5%;
    top: 45%;
    width: 48px;
    height: 48px;
    opacity: 0;
}

#n3{
    position: absolute;
    left: 65%;
    top: 45%;
    width: 48px;
    height: 48px;
    opacity: 0;
}

#n4{
    position: absolute;
    left: 18%;
    top: 59%;
    width: 48px;
    height: 48px;
    opacity: 0;
}

#n5{
    position: absolute;
    left: 41.5%;
    top: 59%;
    width: 48px;
    height: 48px;
    opacity: 0;
}

#n6{
    position: absolute;
    left: 65%;
    top: 59%;
    width: 48px;
    height: 48px;
    opacity: 0;
}

#n7{
    position: absolute;
    left: 18%;
    top: 73%;
    width: 48px;
    height: 48px;
    opacity: 0;
}

#n8{
    position: absolute;
    left: 41.5%;
    top: 73%;
    width: 48px;
    height: 48px;
    opacity: 0;
}

#n9{
    position: absolute;
    left: 65%;
    top: 73%;
    width: 48px;
    height: 48px;
    opacity: 0;
}

#clear{
    position: absolute;
    left: 18%;
    top: 87%;
    width: 48px;
    height: 48px;
    opacity: 0;
}

#OK{
    position: absolute;
    left: 41.5%;
    top: 87%;
    width: 48px;
    height: 48px;
    opacity: 0;
}

#Cancel{
    position: absolute;
    left: 65%;
    top: 87%;
    width: 48px;
    height: 48px;
    opacity: 0;
}

#display{
    position: absolute;
    top: -4px;
    left: 87px;
    font-size: 60px;
    color: aqua;
    font-family: 'Gemunu Libre', sans-serif;
}

#DoorLock_modal{
    position: absolute;
    display: none;
    left: 570px;
    top: 80px;
    width: 300px;
    height: 400px;
}

#DoorLock{
    position: absolute;
    top: 80px;
    width: 300px;
    height: 400px;
}

#SafeLock{
    width: 100%;
    max-height: 100%;
    margin: auto;
    overflow: auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#num1{
    position: absolute;
    left: 8%;
    top: 36%;
    width: 65px;
    height: 65px;
    opacity: 0;
}

#num2{
    position: absolute;
    left: 38%;
    top: 36%;
    width: 65px;
    height: 65px;
    opacity: 0;
}

#num3{
    position: absolute;
    left: 68%;
    top: 36%;
    width: 65px;
    height: 65px;
    opacity: 0;
}

#num4{
    position: absolute;
    left: 8%;
    top: 60%;
    width: 65px;
    height: 65px;
    opacity: 0;
}

#num5{
    position: absolute;
    left: 38%;
    top: 60%;
    width: 65px;
    height: 65px;
    opacity: 0;
}

#num6{
    position: absolute;
    left: 68%;
    top: 60%;
    width: 65px;
    height: 65px;
    opacity: 0;
}

#num7{
    position: absolute;
    left: 8%;
    top: 83%;
    width: 65px;
    height: 65px;
    opacity: 0;
}

#num8{
    position: absolute;
    left: 38%;
    top: 83%;
    width: 65px;
    height: 65px;
    opacity: 0;
}

#num9{
    position: absolute;
    left: 68%;
    top: 83%;
    width: 65px;
    height: 65px;
    opacity: 0;
}

#display_Safe{
    position: absolute;
    top: -4px;
    left: 87px;
    font-size: 60px;
    color: aqua;
    font-family: 'Gemunu Libre', sans-serif;
}

#SafeLock_modal{
    position: absolute;
    display: none;
    left: 570px;
    top: 80px;
    width: 300px;
    height: 400px;
}

#SafeLock{
    position: absolute;
    top: 80px;
    width: 300px;
    height: 400px;
}

#Get_hammer{
    position: absolute;
    left: 49%;
    bottom: 24%;
    width: 100px;
    height: 60px;
    opacity: 0;
    visibility: hidden;
}