#Front_Wall{ /*class 에는 . ID 에는 # */
    width: 100%;
    visibility: visible; /*visible 활성화 hidden 숨김*/
    display: flex;
}

#Front_Wall_IMG{ /* 이미지 전체화면 */
    width: 100%;
    max-height: 100%;
    margin: auto;
    overflow: auto;
    position: fixed;
    left: 0;    /*왼쪽벽에 딱 붙임*/
    right: 0;
    top: 0;
    bottom: 0;
}

#Face_modal{
    position: absolute;
    display: none;
    left: 570px;
    top: 80px;
    width: 300px;
    height: 400px;
}

#View_Lock_1{
    position: absolute;
    left: 591px;
    bottom: 331px;
    width: 47px;
    height: 46px;
    opacity: 0;
}

#Front_Wall .View_Left{ /*Front_Wall class 안에 있는 View_Left 만 설정*/
    position: absolute;
    left: 0;
    bottom: 170px;
    width: 216px;
    height: 500px;
    opacity: 0;
}

#Front_Wall .View_Right{
    position: absolute;
    right: 0;
    bottom: 170px;
    width: 216px;
    height: 500px;
    opacity: 0;
}

#face{
    position: absolute;
    left: 663px;
    top: 107px;
    width: 112px;
    height: 104px;
    opacity: 0;
}

#Escape{
    position: absolute;
    left: 578px;
    top: 238px;
    width: 282px;
    height: 296px;
    opacity: 0;
    visibility: hidden;
}

#Left_Wall{
    width: 100%;
    visibility: hidden;
}

#Left_Wall_IMG{ /* 이미지 전체화면 */
    width: 100%;
    max-height: 100%;
    margin: auto;
    overflow: auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#Post_modal{
    position: absolute;
    display: none;
    left: 570px;
    top: 80px;
    width: 300px;
    height: 400px;
    z-index: 10;
}

#Left_Wall .View_Front{
    position: fixed;
    Right: 0;
    bottom: 170px;
    width: 216px;
    height: 500px;
    opacity: 0;
}

#Left_Wall .View_Back{
    position: fixed;
    left: 0;
    bottom: 170px;
    width: 216px;
    height: 500px;
    opacity: 0;
}

#Left_Wall #View_Post{
    position: absolute;
    left: 657px;
    bottom: 245px;
    width: 75px;
    height: 50px;
    opacity: 0;
}

#Left_Wall #View_Lock_2{
    position: absolute;
    left: 680px;
    bottom: 200px;
    width: 40px;
    height: 40px;
    opacity: 0;
}

#Right_Wall{
    visibility: hidden;
}

#Right_Wall_IMG{ /* 이미지 전체화면 */
    width: 100%;
    max-height: 100%;
    margin: auto;
    overflow: auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#Right_Wall .View_Front{
    position: fixed;
    left: 0;
    bottom: 170px;
    width: 216px;
    height: 500px;
    opacity: 0;
}

#Right_Wall .View_Back{
    position: fixed;
    right: 0;
    bottom: 170px;
    width: 216px;
    height: 500px;
    opacity: 0;
}

#Back_Wall{
    visibility: hidden;
}

#Back_Wall_IMG{ /* 이미지 전체화면 */
    width: 100%;
    max-height: 100%;
    margin: auto;
    overflow: auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#destroy_modal{
    position: absolute;
    display: none;
    left: 450px;
    top: 80px;
    width: 580px;
    height: 400px;
}

#Back_Wall .View_Right{
    position: fixed;
    left: 0;
    bottom: 170px;
    width: 180px;
    height: 500px;
    opacity: 0;
}

#Back_Wall .View_Left{
    position: fixed;
    right: 0;
    bottom: 170px;
    width: 180px;
    height: 500px;
    opacity: 0;
}

#Back_Wall #Destroy{
    position: fixed;
    left: 480px;
    bottom: 390px;
    width: 510px;
    height: 200px;
    opacity: 0;
}

#DoorLock{ /* 이미지 전체화면 */
    width: 100%;
    max-height: 100%;
    margin: auto;
    overflow: auto;
    position: fixed;
    left: 0;    /*왼쪽벽에 딱 붙임*/
    right: 0;
    top: 0;
    bottom: 0;
}

#n1{
    position: absolute;
    left: 55px;
    width: 48px;
    height: 48px;
    top: 180px;
    opacity: 0;
}

#n2{
    position: absolute;
    left: 124px;
    top: 180px;
    width: 48px;
    height: 48px;
    opacity: 0;
}

#n3{
    position: absolute;
    right: 59px;
    top: 180px;
    width: 48px;
    height: 48px;
    opacity: 0;
}

#n4{
    position: absolute;
    left: 55px;
    top: 235px;
    width: 48px;
    height: 48px;
    opacity: 0;
}

#n5{
    position: absolute;
    left: 124px;
    top: 235px;
    width: 48px;
    height: 48px;
    opacity: 0;
}

#n6{
    position: absolute;
    right: 59px;
    top: 235px;
    width: 48px;
    height: 48px;
    opacity: 0;
}

#n7{
    position: absolute;
    left: 55px;
    top: 289px;
    width: 48px;
    height: 48px;
    opacity: 0;
}

#n8{
    position: absolute;
    left: 124px;
    top: 289px;
    width: 48px;
    height: 48px;
    opacity: 0;
}

#n9{
    position: absolute;
    right: 59px;
    top: 289px;
    width: 48px;
    height: 48px;
    opacity: 0;
}

#clear{
    position: absolute;
    left: 55px;
    top: 343px;
    width: 48px;
    height: 48px;
    opacity: 0;
}

#OK{
    position: absolute;
    left: 124px;
    top: 343px;
    width: 48px;
    height: 48px;
    opacity: 0;
}

#Cancel{
    position: absolute;
    right: 59px;
    top: 343px;
    width: 48px;
    height: 48px;
    opacity: 0;
}

#display{
    position: absolute;
    top: -4px;
    left: 87px;
    font-size: 60px;
    color: aqua;
    font-family: 'Gemunu Libre', sans-serif;
}

#DoorLock_modal{
    position: absolute;
    display: none;
    left: 570px;
    top: 80px;
    width: 300px;
    height: 400px;
}

#DoorLock{
    position: absolute;
    top: 80px;
    width: 300px;
    height: 400px;
}

#SafeLock{
    width: 100%;
    max-height: 100%;
    margin: auto;
    overflow: auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#num1{
    position: absolute;
    left: 25px;
    width: 62px;
    height: 62px;
    top: 147px;
    opacity: 0;
}

#num2{
    position: absolute;
    left: 117px;
    top: 147px;
    width: 62px;
    height: 62px;
    opacity: 0;
}

#num3{
    position: absolute;
    right: 33px;
    top: 147px;
    width: 62px;
    height: 62px;
    opacity: 0;
}

#num4{
    position: absolute;
    left: 27px;
    top: 242px;
    width: 62px;
    height: 62px;
    opacity: 0;
}

#num5{
    position: absolute;
    left: 119px;
    top: 242px;
    width: 62px;
    height: 62px;
    opacity: 0;
}

#num6{
    position: absolute;
    right: 31px;
    top: 242px;
    width: 62px;
    height: 62px;
    opacity: 0;
}

#num7{
    position: absolute;
    left: 25px;
    top: 335px;
    width: 62px;
    height: 62px;
    opacity: 0;
}

#num8{
    position: absolute;
    left: 117px;
    top: 335px;
    width: 62px;
    height: 62px;
    opacity: 0;
}

#num9{
    position: absolute;
    right: 33px;
    top: 335px;
    width: 62px;
    height: 62px;
    opacity: 0;
}

#display_Safe{
    position: absolute;
    top: -4px;
    left: 87px;
    font-size: 60px;
    color: aqua;
    font-family: 'Gemunu Libre', sans-serif;
}

#SafeLock_modal{
    position: absolute;
    display: none;
    left: 570px;
    top: 80px;
    width: 300px;
    height: 400px;
}

#SafeLock{
    position: absolute;
    top: 80px;
    width: 300px;
    height: 400px;
}

#Get_hammer{
    position: absolute;
    left: 712px;
    bottom: 178px;
    width: 89px;
    height: 58px;
    opacity: 0;
    visibility: hidden;
}