#Chess_default{
  width: 100%;
  height: 100%;
}

#Chess_default_img{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#Chess_Clear{
  width: 100%;
  height: 100%;
  display: none;
}

#Chess_clear_img{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#window{
  position: absolute;
  width: 500px;
  height: 330px;
  left: 33%;
  top: 12%;
  opacity: 0;
}

#View_Chess{
  position: absolute;
  width: 117px;
  height: 50px;
  left: 47%;
  top: 67%;
  opacity: 0;
}

#Chess_Modal{
  position: absolute;
  left: 25%;
  top: 10%;
  width: 750px;
  height: 510px;
  background-image: url("../../img/Chess/Chess_Modal.jpg");
  background-size: cover;
}

table{
  border: 1px solid black;
}

td,tr{
  border: 1px solid black;
}
td{
  width: 110px;
  height: 83px;
  text-align: right;
}

#Chesses img{
  width: 100px;
  height: 90%;
}

#Hint{
  top: 5%;
  font-family: 'Dokdo', cursive;
  font-size: 22px;
  color: white;
}

#Boards{
  position: absolute;
  right: 0;
}

#Chesses p{
  text-align: right;
  color: black;
}

#Chess_2, #Chess_3, #Chess_6, #Chess_7, #Chess_10, #Chess_11{
  background-color: ivory;
}

#Chess_1, #Chess_4, #Chess_5, #Chess_8, #Chess_9, #Chess_12{
  background-color: gray;
}

#Chess_Modal{
  display: none;
}

#Next_Room{
  position: absolute;
  width: 220px;
  height: 330px;
  left: 33%;
  top: 12%;
  opacity: 0;
}
