#body{
  background-image: url("../img/Main/Main_back.jpeg");
}

#Banner_Text{
    text-align: center;
    padding-bottom: 7px;
    padding-top: 7px;
    color: White;
    font-family: 'Dokdo', cursive;
    font-family: 'Shadows Into Light', cursive;
    height: 80px;
    border-bottom: 2px solid darkgray;
}

#Stage_Block{
    height: 400px;
}

#Choice_Theme_Text{
    border: solid 2px darkgray;
    text-align: center;
    font-size: 30px;
    margin: 20px;
    color: White;
}

#Stage_1{
    background-image: url("../img/Room_Mirror/Room_Mirror_Face.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80px;
    height: 84px;
    width: 84px;
    margin: 10px;
}

#Stage_2{
  background-image: url("../img/HallWay/Elevator.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80px;
  height: 84px;
  width: 84px;
  margin: 10px;
}

#Stage_3{
  background-image: url("../img/Chess/Chess_King.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80px;
  height: 84px;
  width: 84px;
  margin: 10px;
}

#Stage_4{
  background-image: url("../img/Stairs/Stairs");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80px;
  height: 84px;
  width: 84px;
  margin: 10px;
}

#Login_Block{
    height: 400px;
    border-left: 2px solid darkgray;
}
#login_space{
    margin-top: 10px;
}
#login{
  height: 60px;
}

#Notice{
    height: 230px;
    border-top: 2px solid darkgray;
}

.button{
  margin: 10px;
  border-radius: 10px;
  width: 287px;
  background-color: skyblue;
}

#AD{
    height: 230px;
    border-top: 2px solid darkgray;
    border-left: 2px solid darkgray;
}
