.Lock{
    text-align: center;
}

.display{
    width: 172px;
    padding: 10px;
    margin: auto;
    background-color: steelblue;
    color: whitesmoke;
}

.btn{
    padding: 25px;
    margin: auto;
    background-color: steelblue;
    color: whitesmoke;
}

#Hint{
    text-align: center;
}