#Image{
    height:500px;
}

#airplane_img{
    height:500px;
    background-image: url("../img/room_5_letter.jpg");
    background-size: 100% 100%;
}

#Room_5_airplane{
    width: 100%;
    height: 100%;
}

#Password{
    position: fixed;
    top: 150px;
    left: 600px;
    font-size: 25px;
    visibility: hidden;
    font-family: 'Nanum Pen Script', cursive;
}

#answer_text{
    position: fixed;
    top: 510px;
    left: 200px;
}


#Room_5_rainbow{
    position: fixed;
    width: 100%;
    height: 40px;
    visibility: hidden;
}

#buttons{
    text-align: center;
    visibility: hidden;
}

#final{
    text-align: center;
    visibility: hidden;
}

#Escape_button{
    text-align: center;
    visibility: hidden;
}